.ajax-flash {
  background: #F6624A;
  width: auto;
  color: white;
  background-color: auto;
  width: 200px;
  position: absolute;
  right: 20px;
  bottom: 20px;
  padding: 1em;
  display: none; }

.icheckbox_square-blue,
.iradio_square-blue {
  background: url(../../images/blue.png) no-repeat; }

input.parsley-success,
select.parsley-success,
textarea.parsley-success {
  color: #468847;
  background-color: #DFF0D8;
  border: 1px solid #D6E9C6; }

input.parsley-error,
select.parsley-error,
textarea.parsley-error {
  color: #B94A48;
  background-color: #F2DEDE;
  border: 1px solid #EED3D7; }

.parsley-errors-list {
  margin: 2px 0 3px;
  padding: 0;
  list-style-type: none;
  font-size: 0.9em;
  line-height: 0.9em;
  opacity: 0;
  transition: all .3s ease-in;
  -o-transition: all .3s ease-in;
  -moz-transition: all .3s ease-in;
  -webkit-transition: all .3s ease-in; }

.parsley-errors-list.filled {
  opacity: 1; }

/*dropzone*/
.dropzone-previews .dz-preview > .dz-remove {
  display: none; }

.dropzone-previews .dz-preview .dz-control {
  position: absolute;
  top: 0;
  z-index: 99;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 0 0 0 5px;
  padding: 0 5px; }
  .dropzone-previews .dz-preview .dz-control span,
  .dropzone-previews .dz-preview .dz-control a {
    color: #FFF;
    cursor: pointer;
    display: inline-block; }
    .dropzone-previews .dz-preview .dz-control span i,
    .dropzone-previews .dz-preview .dz-control a i {
      display: inline-block;
      padding: 5px 3px;
      cursor: pointer; }
    .dropzone-previews .dz-preview .dz-control span:hover,
    .dropzone-previews .dz-preview .dz-control a:hover {
      color: red; }

#modal-croppic .modal-dialog {
  width: 100%; }
  #modal-croppic .modal-dialog .modal-content {
    width: 100%;
    border: 0;
    background: none;
    box-shadow: none; }
    #modal-croppic .modal-dialog .modal-content .modal-header {
      padding: 0;
      border-bottom: 0; }
    #modal-croppic .modal-dialog .modal-content .modal-body {
      padding: 0; }
      #modal-croppic .modal-dialog .modal-content .modal-body .control-label {
        display: none; }
      #modal-croppic .modal-dialog .modal-content .modal-body .close {
        margin-right: 20px;
        opacity: 1; }
        #modal-croppic .modal-dialog .modal-content .modal-body .close span {
          font-size: 35px;
          color: red;
          padding: 5px 15px;
          background: rgba(0, 0, 0, 0.3); }
    #modal-croppic .modal-dialog .modal-content #croppic {
      margin: 0 auto; }
      #modal-croppic .modal-dialog .modal-content #croppic .cropControls .cropControlReset {
        display: none; }
      #modal-croppic .modal-dialog .modal-content #croppic .cropControls .cropControlRemoveCroppedImage {
        font-family: FontAwesome;
        background: none; }
        #modal-croppic .modal-dialog .modal-content #croppic .cropControls .cropControlRemoveCroppedImage:before {
          content: "\f021";
          line-height: 30px;
          color: #72FF63;
          font-size: 20px; }

.img-btn-close {
  font-family: FontAwesome;
  font-size: 14px;
  color: red;
  padding: 5px 8px;
  background: rgba(0, 0, 0, 0.3);
  text-shadow: 0 1px 0 #fff; }
  .img-btn-close:before {
    content: "\f00d"; }

.img-btn-refresh {
  font-family: FontAwesome;
  font-size: 14px;
  color: red;
  padding: 5px 8px;
  background: rgba(0, 0, 0, 0.3);
  color: #72FF63; }
  .img-btn-refresh:before {
    content: "\f021"; }

.conten-alert p {
  margin: 15px 0; }

.wrap-uploadimg .wrap-upload .jumbotron {
  background: none;
  padding: 0; }

.wrap-uploadimg .wrap-upload .dz-message {
  margin: 0 0 10px; }

/*end dropzone*/
/* Begin ekko-lightbox */
.ekko-lightbox .fa-chevron-left {
  left: 0;
  float: left;
  padding-left: 15px;
  text-align: left; }

.ekko-lightbox .fa-chevron-right {
  float: right;
  padding-right: 15px;
  right: 0;
  text-align: right; }

/* End ekko-lightbox */
.parsley-required,
.parsley-maxlength,
.parsley-minlength,
.parsley-type,
.parsley-equalto,
.parsley-length,
.parsley-max,
.count-character {
  color: #FF0000;
  margin-top: 5px;
  font-size: 15px; }

.sidebar .sidebar-menu li.active > a {
  background: #3c8dbc;
  border-left-color: #003fb1; }

.sidebar .sidebar-menu li .treeview-menu {
  margin: 0;
  padding: 0; }
  .sidebar .sidebar-menu li .treeview-menu li a {
    padding: 10px 5px 10px 15px; }
  .sidebar .sidebar-menu li .treeview-menu li.active > a {
    background: #1a6088; }
