/*
 * Author: Carlos Alvarez
 * URL: http://alvarez.is
 *
 * Project Name: FLATTY - Free Bootstrap 3 Theme
 * Version: 1.0
 * URL: http://blacktie.co
 */

.optionsDiv{
	border-radius:2px;
	position:absolute;
}
.optionsDiv a{
	width:50%;
	margin-right:20%;
	float:left;
	margin-bottom:10px;
	cursor:pointer;
}
#cropContainerEyecandy{ 
    width:100%; 
    height:300px; 
    position: relative; 
    border:1px solid #ccc;
}
.margin-bottom-40{
    margin-bottom: 40px;
}