/* Media queries */
html {
  height: 100%; }

#messages_counter {
  display: none; }

/***************************
Header
***************************/
/***************************
Footer
***************************/
/***************************
Header
***************************/
/***************************
Footer
***************************/
