//@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
.ajax-flash {
    background: #F6624A;
    width: auto;
    color: white;
    background-color: auto;
    width: 200px;
    position: absolute;
    right: 20px;
    bottom: 20px;
    padding: 1em;
    display: none;
}

// .trumbowyg-box {
//     margin: 0;
//     width: 100%;
// }
// .testautoprefixer {
//     transform: rotate(7deg);
// }
.icheckbox_square-blue,
.iradio_square-blue {
    background: url(../../images/blue.png) no-repeat;
}

// parsley css
input.parsley-success,
select.parsley-success,
textarea.parsley-success {
    color: #468847;
    background-color: #DFF0D8;
    border: 1px solid #D6E9C6;
}

input.parsley-error,
select.parsley-error,
textarea.parsley-error {
    color: #B94A48;
    background-color: #F2DEDE;
    border: 1px solid #EED3D7;
}

.parsley-errors-list {
    margin: 2px 0 3px;
    padding: 0;
    list-style-type: none;
    font-size: 0.9em;
    line-height: 0.9em;
    opacity: 0;
    transition: all .3s ease-in;
    -o-transition: all .3s ease-in;
    -moz-transition: all .3s ease-in;
    -webkit-transition: all .3s ease-in;
}

.parsley-errors-list.filled {
    opacity: 1;
}


/*dropzone*/

.dropzone-previews {
    .dz-preview {
        >.dz-remove {
            display: none;
        }
        .dz-control {
            position: absolute;
            top: 0;
            z-index: 99;
            right: 0;
            background: rgba(0, 0, 0, 0.5);
            border-radius: 0 0 0 5px;
            padding: 0 5px;
            span,
            a {
                color: #FFF;
                cursor: pointer;
                display: inline-block;
                i {
                    display: inline-block;
                    padding: 5px 3px;
                    cursor: pointer;
                }
                &:hover {
                    color: red;
                }
            }
        }
    }
}

#modal-croppic {
    .modal-dialog {
        width: 100%;
        .modal-content {
            width: 100%;
            border: 0;
            background: none;
            box-shadow: none;
            .modal-header {
                padding: 0;
                border-bottom: 0;
            }
            .modal-body {
                padding: 0;
                .control-label {
                    display: none;
                }
                .close {
                    margin-right: 20px;
                    opacity: 1;
                    span {
                        font-size: 35px;
                        color: red;
                        padding: 5px 15px;
                        background: rgba(0, 0, 0, 0.3)
                    }
                }
            }
            #croppic {
                margin: 0 auto;
                .cropControls {
                    .cropControlReset {
                        display: none;
                    }
                    .cropControlRemoveCroppedImage {
                        font-family: FontAwesome;
                        background: none;
                        &:before {
                            content: "\f021";
                            line-height: 30px;
                            color: #72FF63;
                            font-size: 20px;
                        }
                    }
                }
            }
        }
    }
}

.img-btn-close {
    font-family: FontAwesome;
    font-size: 14px;
    color: red;
    padding: 5px 8px;
    background: rgba(0, 0, 0, 0.3);
    text-shadow: 0 1px 0 #fff;
    &:before {
        content: "\f00d";
    }
}

.img-btn-refresh {
    font-family: FontAwesome;
    font-size: 14px;
    color: red;
    padding: 5px 8px;
    background: rgba(0, 0, 0, 0.3);
    color: #72FF63;
    &:before {
        content: "\f021";
    }
}

.conten-alert {
    p {
        margin: 15px 0;
    }
}

.wrap-uploadimg {
    .wrap-upload {
        .jumbotron {
            background: none;
            padding: 0;
        }
        .dz-message {
            margin: 0 0 10px;
        }
    }
}


/*end dropzone*/


/* Begin ekko-lightbox */

.ekko-lightbox {
    .fa-chevron-left {
        left: 0;
        float: left;
        padding-left: 15px;
        text-align: left;
    }
    .fa-chevron-right {
        float: right;
        padding-right: 15px;
        right: 0;
        text-align: right;
    }
}


/* End ekko-lightbox */

//parsley
.parsley-required,
.parsley-maxlength,
.parsley-minlength,
.parsley-type,
.parsley-equalto,
.parsley-length,
.parsley-max,
.count-character {
    color: #FF0000;
    margin-top: 5px;
    font-size: 15px;
}

// .profile-user-img {
//     width: 50px;
// }
//
// .tt-menu {
//     width: 422px;
//     margin-top: 12px;
//     padding: 8px 0;
//     background-color: #fff;
//     border: 1px solid #ccc;
//     border: 1px solid rgba(0, 0, 0, 0.2);
//     -webkit-border-radius: 8px;
//     -moz-border-radius: 8px;
//     border-radius: 8px;
//     -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
//     -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
//     box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
// }
//
// .tt-suggestion {
//     padding: 3px 20px;
//     font-size: 18px;
//     line-height: 24px;
// }
//
// .tt-suggestion:hover {
//     background-color: blue;
// }
//
// .tt-suggestion.tt-is-under-cursor {
//     color: #fff;
//     background-color: #0097cf;
// }
//
// .tt-suggestion p {
//     margin: 0;
// }
//
// #undefined_counter {
//     display: inline-block;
// }
//
// .form-group {
//     .count-characters {
//         color: red;
//     }
// }
.sidebar {
    .sidebar-menu {
        li {
            &.active {
                >a {
                    background: #3c8dbc;
                    border-left-color: #003fb1;
                }
            }
            .treeview-menu {
                margin: 0;
                padding: 0;
                li {
                    a {
                        padding: 10px 5px 10px 15px;
                    }
                    &.active {
                        >a {
                            background: #1a6088
                        }
                    }
                }
            }
        }
    }
}

// .sidebar-menu {
//     li.active:parent {
//         a {
//             border-left-color: none;
//             background: none !important;
//         }
//     }
// }
// .tt-hint {
//     display: none !important;
// }
//
// .wrap-upload form {
//     background: url(../../images/camera.png) no-repeat 50% 6.192rem #ffffff;
// }
//
// form#real-dropzone {
//     border: 1px solid #d2d6de;
//     p {
//         font-size: 1.728rem;
//         margin-top: 10.699rem;
//         text-align: center;
//     }
// }